<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">
    <resultMap id="queryDish" type="dish">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="categoryId" column="category_id"/>
        <result property="price" column="price"/>
        <result property="image" column="image"/>
        <result property="description" column="description"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="createUser" column="create_user"/>
        <result property="updateUser" column="update_user"/>
    </resultMap>

    <insert id="insertDish" useGeneratedKeys="true" keyProperty="id">
        insert into dish(name,category_id,price,image,description,status,create_time,update_time,create_user,update_user)
                values (#{name},#{categoryId},#{price},#{image},#{description},#{status},#{createTime},
                #{updateTime},#{createUser},#{updateUser})
    </insert>

    <select id="selectDishPage" resultMap="queryDish">
        select  * from dish where 1=1
        <if test="status != null and status != ''">
            and status = #{status}
        </if>
        <if test="categoryId != null and categoryId != ''">
            and category_id = #{categoryId}
        </if>
        <if test="name != null and name != ''">
            and name = #{name}
        </if>
        limit #{page},#{pageSize}
    </select>
</mapper>